.checkout
{
    display:flex;
    padding:20px;
    background-color: white;
    height:max-content;
}
.checkoutad{
    width: 100%;
    margin-bottom:10px;
overflow:hidden;
}
.checkouttitle
{
    margin-left: 20px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}